{% extends 'base.html' %}

{% block title %}
    <title>EcoMap - Field</title>
{% endblock %}


{% block menu %}
<div>
{% include "menu.html" with fieldId=id_field %}
</div>
{% endblock %}


{% block map %}
    <h4>Ici, toutes les stations pour le terrain sélectionné, seront affichées.</h4>
    <div id="map" data-field="{{ id_field }}"></div>
{% endblock %}

{% block content %}

            <div id="v_app">

                    <station :bestseller="bestSellerProduct"></station>
                    <station></station>

                    <!--
                    <h2>[{ title }] </h2>
                    <button v-on:click="showImage()" v-bind:class="[displayImage ? 'activeButton' : 'notActiveButton']">Show image</button>
                    <button v-on:click="hideImage()" v-bind:class="[displayImage ? 'notActiveButton' : 'activeButton']">Hide image</button>
                    <button @mouseover="showImage()">On Over Show image</button>
                    <button @mouseover="hideImage()">On Over Hide image</button>
                    <figure v-show="displayImage">
                        <img class="img-fluid rounded" v-bind:src="image" v-bind:alt="station_name"/>
                        <figcaption>[{ station_name }] [{ station_lat }], [{ station_lng }] alt: [{ station_alt }]</figcaption>
                    </figure>
                    <ul>
                        <li v-for="sonde in sondes">[{ sonde.name }] [{ sonde.unit }]</li>
                    </ul>
                    -->


            </div>
{% endblock %}