{% extends 'base.html' %}

{% block title %}
    <title>EcoMap - (slider)</title>
{% endblock %}

{% block menu %}
    {% if fields_list %}
        <h4>Terrains</h4>
        <ul class="nav flex-column">
            <li class="nav-link">
                <i class="la la-map"></i>
                <a href="{% url 'map:index' %}">Tous</a>
            </li>
            {% for field in fields_list %}
            <li class="nav-link">
                <i class="la la-object-group"></i>
                <a href="{% url 'map:field' field.id_field %}">({{ field.id_field}}){{ field.field_name}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No fields are available.</p>
    {% endif %}

<hr>
    {% if stations_list %}
        <h4>Stations</h4>
        <ul class="nav flex-column">
            {% for station in stations_list %}
            <li class="nav-link l1">
                <i class="la la-map"></i>
                <a href="{% url 'map:station' station.id_station %}">{{ station.id_station }} ({{ station.station_longname }} ({{ station.fields_id_field.id_field }})</a>
            </li>
            {% endfor %}
        </ul>

    {% else %}

                <p>Sélectionner un terrain</p>

    {% endif %}

{% endblock %}

{% block map %}
<h4>Ici, toutes les stations de tous les terrains seront affichées.</h4>
<div id="map" data-field="{{ id_field }}">Map</div>
{% endblock %}