{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Sensors by Station</title>
{% endblock %}

{% block menu %}
<div>
{% include "menu.html" with fieldId=id_field %}
</div>
{% endblock %}

{% block content %}
<div>

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ station.station_longname|capfirst }} &rarr; {{ sensor.sensor_longname }}</h3>
                    <em>Mesures d'une sonde</em>
                </div>
            </div>
            <div id="charts" data-chart="sensor" class="row gy-3">
                <div class="col-md-12 p-3">

                    <div class="container card sensor">
                            <div class="container-sensor">
                                <canvas id="sensor" class="canvas"></canvas>
                            </div>
                            <div class="card-body">
                                <hr>
                                <details>
                                    <table class="table table-over table-bordered">
                                        <thead>
                                        <tr class="features" data-chart_fill="{{ sensor.chart_fill }}" data-chart_pointradius="{{ sensor.chart_pointradius }}" data-chart_pointhoverradius="{{ sensor.chart_pointhoverradius }}" data-showline="{{ sensor.chart_showline }}" data-chart_borderwidth="{{ sensor.chart_borderwidth }}" data-chart_style="{{ sensor.chart_style_id_chart_style.chart_style_value }}" data-unit="{{ sensor.sensor_types_id_sensor_type.measure_unit }}" data-sensor_longname="{{ sensor.sensor_longname }}" data-backgroundcolor="{{ sensor.chart_backgroundcolor_id_chart_backgroundcolor.colors_id_colors.color_value }}" data-bordercolor="{{ sensor.chart_bordercolor_id_chart_bordercolor.colors_id_colors.color_value }}">
                                            <th>Heure</th><th>Value</th><th>Collection id</th><th>Sensor ID</th><th>Measure ID</th>
                                        </tr>
                                        </thead>
                                        {% for se in sensor_measures %}
                                        <tr class="data" data-x="{{ se.measure_created|date:'Y-m-d H:i:s' }}" data-y="{{ se.value }}">
                                            <td class="data-x"><time>{{ se.measure_created }}</time></td><td class="data-y">{{ se.value }}</td>

                                            <td>{{ se.collections_id_collection.id_collection }}</td><td>{{ se.sensors_id_sensor.id_sensor }}</td><td>{{ se.id_measure }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">Aucunes mesures durant cette période</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </details>
                            </div>
                    </div>
                </div>

            </div>

</div>
{% endblock %}

