body{
    background-color:#fff;
    font-family: 'nunito', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #575962;
}

h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.1em;
}

h4{
    margin-top: 20px;
}

ul{
    padding:0px;
}
li{
    margin-left:15px;
}

table{
    width:100%;
}



/* VUEJS */
.activeButton{
    border: 3px solid red !important;
}
.notActiveButton{
    border: 3px solid green !important;
}

/* END VUEJS */

header{
    border-bottom: 1px solid #eee;
    background:#fff;
}

/*
* NAV
*/
#slider h4:first-child{
    margin-top: 15px;
}
nav ul{
    padding:0px;
    margin:0px;
}
nav ul li.nav-link{
    margin:0px;
    padding-left:8px !important;
    list-style-type: none;
}

nav ul li.nav-link.l2{
    margin-left:0px;
}

nav ul li.nav-link a{
    color:#83848a;
}
nav ul li.nav-link.l2 a{
    margin-left:0px !important;
}

nav ul li.nav-link i{
    color:#333333;
}


.cont #slider, .cont #content{
    /*
    display: flex;
    flex-wrap:nowrap;
    */
}

#slider{
    padding-top:20px;
    /*
    flex: 0 0 38%;
    max-width: 200px;
    */
}
#content{
    /*
    flex: 1 1 1%;
    */
    padding-top:20px;
}
*/

